// Text
$text-light: #E1D4C9;
$text-dark: #403F3D;
$text-accent: #B0907A;

// Background
$bg-body: #E1D4C9;
$bg-container: #665F55;
$bg-backdrop: #403F3DCC;

// Border
$bd-light: #C1B6AD;
$bd-dark: #665F55;