.btn-primary {
  height: 64px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: $bg-body;
  border-radius: 100px;
  border: none;
  cursor: pointer;
 
  img {
    display: none;
  }

  &:hover {
    
    img {
      display: block;
    }
  }
}

.btn-secondary {

}