.heading-1 {
  font-size: 72px;
  line-height: 105%;
  span {
    font-style: italic;
  }
}

.heading-2 {
  font-size: 60px;
  line-height: 125%;

  span {
    font-style: italic;
  }
}

.heading-3 {
  font-size: 24px;
  line-height: 125%;

}